*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: azure;
}
.albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.album{
    border: 2px solid wheat;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: 3px 2px 2px wheat;
}
.album img{
    border-radius: 10px;
    width: 100%;
    height: 300px;
    border: 2px solid wheat;
    transition: all 0.5s ease-in-out;
}
.album:hover img{
    transform: scale(1.05);
}
.album__details{
    text-align: center;
   margin: auto 0px;
}