/*===================== google font import ============================= */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.overlay{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay .overlay-inner h1{
    font-size: 4rem;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}



/*==========================main gallery===================== */
.gallery{
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 45px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto; 
    grid-gap: 2vmin;
    grid-auto-flow: dense;
    grid-area: "";
}
.gallery .img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.gallery .img img{
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 100%;
   transition: all 0.5s ease-in-out;
}
.gallery .img img:hover{
    transform: scale(1.2);
}
.gallery .img:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
    grid-row-start: span 2;
}
.gallery .img:nth-child(2){
    grid-column: 3/5;
    grid-row: 1/4;
    grid-row-start: span 2;
}
.gallery .img:nth-child(3){
    grid-column: 3/5;
    grid-row: 1/1;
    grid-row-start: span 2;
}

